.ho-tro-page {
  background: url("../../images/ho-tro/block-bg.jpg") no-repeat;
}
.ho-tro-page .block:nth-child(1) {
  padding-top: 92px;
}
@media(max-width:768px){
  .ho-tro-page .block:nth-child(1) {
    padding-top: 55px;
  } 
}
.ho-tro-page .block:nth-child(1) .block__content .circle-list {
  display: flex;
  gap: 0 40px;
  justify-content: center;
}

/* Tùy chỉnh thanh cuộn */
.ho-tro-page .block:nth-child(1) .block__content .circle-list::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
  height: 3px;
}

/* Đổi màu của thanh cuộn */
.ho-tro-page .block:nth-child(1) .block__content .circle-list::-webkit-scrollbar-thumb {
  background-color: #81939f; /* Màu thanh cuộn */
  border-radius: 4px; /* Bo tròn các cạnh */
}

/* Tùy chỉnh nền thanh cuộn */
.ho-tro-page .block:nth-child(1) .block__content .circle-list::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Màu nền thanh cuộn */
}


@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(1) .block__content .circle-list {
    gap: 0 25px;
  }
}
@media (max-width: 830px) {
  .ho-tro-page .block:nth-child(1) .block__content .circle-list {
    justify-content: unset;
    overflow-x: hidden;
    height: 130px;
  }

  .ho-tro-page .block:nth-child(1) .block__content .circle-list:hover {
    overflow-x: scroll;
  }
}

@media(max-width:768px){
  .ho-tro-page .block:nth-child(1) .block__content .circle-list{
    height: 78px;
  }
}

.ho-tro-page .block:nth-child(1) .block__content .circle-list__item {
  width: 111px;
  height: 111px;
  background-image: url("../../svg/ho-tro/circle-bg-image.svg");
  background-size: 109px 109px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  flex-shrink: 0;
}
@media(max-width:768px){
  .ho-tro-page .block:nth-child(1) .block__content .circle-list__item{
    width: 73px;
    height: 73px;
    padding: 0 5px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .circle-list__item:hover span {
  color: #7decff;
}
.ho-tro-page .block:nth-child(1) .block__content .circle-list__item span {
  color: #fff;
  transition: 0.2s color linear;
}
@media(max-width:768px){
  .ho-tro-page .block:nth-child(1) .block__content .circle-list__item span {
    font-size: 10px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content--title {
  color: #000;
  text-align: center;
  text-shadow: 8px 12px 24px rgba(0, 0, 0, 0.05);
  font-family: "Ford Antenna";
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(1) .block__content--title {
    max-width: 343px;
    width: 100%;
    margin: 28px auto;
    font-size: 36px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .input-box {
  max-width: 730px;
  width: 100%;
  height: 54px;
  position: relative;
  margin: auto;
}
.ho-tro-page .block:nth-child(1) .block__content .input-box__icon-search {
  border-radius: 200px;
  background: #fff;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.ho-tro-page .block:nth-child(1) .block__content .input-box__input {
  height: 100%;
  border-radius: 200px;
  border: 0.8px solid #3aa4f6;
  background: #fff;
  width: 100%;
  z-index: 1;
  padding: 0 185px 0 55px;
  outline: unset;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(1) .block__content .input-box__input {
    padding: 0 95px 0 55px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .input-box__button-search {
  position: absolute;
  max-width: fit-content;
  width: 100%;
  height: 44px;
  border-radius: 200px;
  background-color: #0C5ADB;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  text-transform: uppercase;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0 20px;
}
@media (max-width: 1200px) {
  .ho-tro-page .block:nth-child(1) .block__content .input-box__button-search {
    right: 22px;
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(1) .block__content .input-box__button-search {
    width: fit-content;
    height: 44px;
    flex-shrink: 0;
    padding: 0 14px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .input-box__button-search:hover {
  background-color: #189cf0;
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question {
  margin-top: 60px;
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__title {
  max-width: 730px;
  width: 100%;
  display: flex;
  gap: 0 11px;
  align-items: center;
  margin: auto;
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__title--icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__title--text {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(1) .block__content .suggest-question__title--text {
    font-size: 14px;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__content {
  max-width: 830px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 10px 8px;
  margin-top: 33px;
}
@media(max-width:576px){
  .ho-tro-page .block:nth-child(1) .block__content .suggest-question__content {
    justify-content: flex-start;
  }
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__content--item {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #616161;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 129.231% */
  text-transform: uppercase;
  border-radius: 115px;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  transition: 0.2s all linear;
  text-align: center;
}
.ho-tro-page .block:nth-child(1) .block__content .suggest-question__content--item:hover {
  background-color: #189cf0;
  color: #fff;
  border: 1px solid transparent;
}
.ho-tro-page .block:nth-child(2) {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(2) {
    margin-top: 75px;
  }
}
.ho-tro-page .block:nth-child(2) .block__content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 0 70px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(2) .block__content {
    flex-flow: column;
  }
}
.ho-tro-page .block:nth-child(2) .block__left {
  max-width: 440px;
  width: 100%;
}
.ho-tro-page .block:nth-child(2) .block__left--title {
  color: #3e4241;
  font-family: "Ford Antenna";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(2) .block__left--title {
    font-size: 34px;
    font-weight: 500;
  }
}
@media (max-width: 374px) {
  .ho-tro-page .block:nth-child(2) .block__left--title {
    font-size: 28px;
  }
}
.ho-tro-page .block:nth-child(2) .block__left--link {
  color: #95a9a7;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  margin-top: 16px;
  text-align: right;
  display: block;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(2) .block__left--link {
    text-align: left;
  }
}
.ho-tro-page .block:nth-child(2) .block__left--link:hover {
  color: #033ec4;
}
.ho-tro-page .block:nth-child(2) .block__right {
  max-width: 696px;
  width: 100%;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(2) .block__right {
    margin-top: 32px;
  }
}
.ho-tro-page .block:nth-child(2) .block__right .list__item {
  border-bottom: solid 1px rgba(207, 207, 207, 0.7);
  padding: 10px 0;
}
.ho-tro-page .block:nth-child(2) .block__right .list__item a {
  color: #2e2e2e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.ho-tro-page .block:nth-child(2) .block__right .list__item a:hover {
  color: #033ec4;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(2) .block__right .list__item:last-child {
    border-bottom: unset;
  }
}
.ho-tro-page .block:nth-child(3) {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) {
    margin-top: 28px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--title {
  color: #1f7bff;
  text-align: center;
  font-feature-settings: "salt" on;
  font-family: "Ford Antenna";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--title {
    font-size: 32px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content {
  margin-top: 33px;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .list {
    grid-template-columns: 1fr;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item {
  height: 261px;
  background-size: 100% 59%, 100%;
  background-position: bottom, center;
  position: relative;
  border-radius: 12px;
  display: block;
  transition: background-size 0.3s ease; /* Smooth transition */
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .list__item {
    height: 50vw;
    min-height: 220px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {k
  .ho-tro-page .block:nth-child(3) .block__content--main-content .list__item {
    height: 220px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(1) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-1.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(2) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-2.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(3) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-3.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(4) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-4.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(5) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-5.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:nth-child(6) {
  background-image: linear-gradient(180deg, rgba(12, 90, 219, 0) 0%, #001944 100%), url("../../images/ho-tro/image-4.jpg");
  background-repeat: no-repeat;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item:hover {
  background-size: 100% 59%, 120% auto;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .list__item--text {
  color: #fff;
  text-align: center;
  font-family: "Ford Antenna";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(210, 214, 229, 0.9);
  padding: 69px 58px;
  margin-top: 129px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us {
    padding: 50px 40px;
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us {
    margin-top: 56px;
    box-shadow: unset;
    padding: 0;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__title {
  color: #3e4241;
  font-family: "Ford Antenna";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__title {
    font-size: 32px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content {
  display: flex;
  flex-flow: row;
  gap: 0 144px;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content {
    gap: 0 70px;
  }
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content {
    flex-flow: column-reverse;
  }
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left {
    margin-top: 75px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left .text {
  margin-top: 20px;
  color: #585858;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left .text {
    margin-top: 0;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left .info-item {
  margin-top: 18px;
  display: flex;
  flex-flow: column;
  max-width: 523px;
  width: 100%;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left .info-item__label {
  color: #2e2e2e;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left .info-item__value {
  color: #2e2e2e;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left iframe {
  margin-top: 40px;
  width: 100%;
  max-width: 562px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left iframe {
    height: 350px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--left iframe {
    height: 245px;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right {
  width: 436px;
  margin-top: -57px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right {
    width: 400px;
  }
}
@media (max-width: 1100px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right {
    width: 360px;
  }
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right {
    width: 100%;
    margin-top: 0;
  }
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right label {
  display: flex;
  flex-flow: column;
  gap: 12px 0;
  color: #2e2e2e;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  margin-top: 23px;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right label input {
  width: 100%;
  height: 54px;
  border-radius: 4px;
  background: #e9eaea;
  border: unset;
  padding: 16px 17px;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right label textarea {
  padding: 16px 17px;
  width: 100%;
  height: 185px;
  border-radius: 4px;
  background: #e9eaea;
  border: unset;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right .btn-contact-us {
  max-width: 436px;
  width: 100%;
  height: 44px;
  border-radius: 200px;
  background-color: #1f7bff;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  margin-top: 30px;
  transition: 0.2s color linear, 0.2s background-color linear;
}
.ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right .btn-contact-us:hover {
  background-color: #345ce5;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(3) .block__content--main-content .contact-us__content--right .btn-contact-us {
    margin-left: auto;
    margin-right: auto;
    max-width: 343px;
  }
}
.ho-tro-page .block:nth-child(4) {
  width: 100%;
  height: 295px;
  margin-top: 78px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) {
    height: 507px;
    flex-shrink: 0;
  }
}
.ho-tro-page .block:nth-child(4) .block__content {
  height: 100%;
}
.ho-tro-page .block:nth-child(4) .block__content--main-content {
  height: 100%;
  position: relative;
  border-radius: 16px;
  background: #175ac7;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content {
    padding: 0 27px;
  }
}
.ho-tro-page .block:nth-child(4) .block__content--main-content .title {
  color: #fff;
  font-family: "Ford Antenna";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .title {
    text-align: center;
    font-size: 30px;
    line-height: 40px; /* 142.857% */
  }
}
@media (max-width: 768px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .title {
    text-align: center;
    font-size: 28px;
    line-height: 40px; /* 142.857% */
  }
}
.ho-tro-page .block:nth-child(4) .block__content--main-content .description {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  margin-top: 15px;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .description {
    margin-top: 24px;
    text-align: center;
  }
}
.ho-tro-page .block:nth-child(4) .block__content--main-content .button {
  margin-top: 25px;
  border-radius: 200px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  width: 324px;
  height: 44px;
  background-color: transparent;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .button {
    margin-top: 24px;
    max-width: 324px;
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .button {
    font-size: 13px;
  }
}
.ho-tro-page .block:nth-child(4) .block__content--main-content .button:hover {
  background-color: #fff;
  color: #1f7bff;
}
.ho-tro-page .block:nth-child(4) .block__content--main-content .image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 97px;
  height: 158.199px;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .ho-tro-page .block:nth-child(4) .block__content--main-content .image {
    width: 68.794px;
    height: 112.199px;
    flex-shrink: 0;
  }
}
