.chi-tiet-goi-cuoc-page .block:nth-child(1) {
  padding-top: 41px;
  position: relative;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) {
    padding-top: 16px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 307px;
  background: url("../../../images/chi-tiet-goi-cuoc/service-detai-bg.png") 100% 9% no-repeat;
  z-index: 0;
}
@media(max-width:992px){
  .chi-tiet-goi-cuoc-page .block:nth-child(1)::before {
    background: url("../../../images/chi-tiet-goi-cuoc/service-detai-bg-mb.jpg") 100% 9% no-repeat;
    background-position: calc(100% + 40px) -50px;

  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl {
  position: relative;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb {
  display: flex;
  flex-flow: row;
  gap: 0 20px;
  z-index: 1;
  align-items: center;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb {
    gap: 0 4px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb {
    margin-bottom: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb__item a {
  color: #2e2e2e;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  line-height: 22px; /* 129.412% */
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb__item a {
    font-size: 14px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb__item a:hover {
  color: #033ec4;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .container-xl .breadcrumb__item:last-child a {
  color: #1f7bff;
  font-style: normal;
  font-weight: 700;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content--title {
  margin-top: 81px;
  color: #000;
  text-shadow: 8px 12px 24px rgba(0, 0, 0, 0.05);
  font-family: "Ford Antenna";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content--title {
    margin-top: 62px;
    color: #3e4241;
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content--title {
    font-size: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1122px;
  width: 100%;
  height: 214px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  margin-top: 40px;
  box-shadow: 0px 10px 20px 0px rgba(210, 214, 229, 0.9);
  position: relative;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box {
    margin-top: 28px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box .layer {
  width: 64.687px;
  height: 105.5px;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 11px;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box .layer {
    width: 49.053px;
    height: 80px;
    flex-shrink: 0;
    top: 7px;
    right: 10px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box .vnpt {
  width: 79.53px;
  height: 18.392px;
  flex-shrink: 0;
  position: absolute;
  bottom: 22px;
  right: 25px;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box .vnpt {
    width: 79.53px;
    height: 18.392px;
    flex-shrink: 0;
    bottom: 16px;
    right: 20px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__item {
    height: 136px;
    padding: 28px 32px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__item p {
    width: 100%;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__item p span {
  text-align: center;
}
@media (max-width: 480px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__item p span {
    text-align: left;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name {
  display: flex;
  flex-flow: row;
  gap: 0 16px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .code {
  width: 54px;
  height: 54px;
  color: #fff;
  text-align: center;
  font-family: "Ford Antenna";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
  background-image: url("../../../svg/chi-tiet-goi-cuoc/block-1-invoice-price-circle-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  display: flex;
  flex-flow: column;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .name {
    color: #4e4e4e;
    font-size: 15px;
    line-height: 22px; /* 146.667% */
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .name .special {
  font-family: "Ford Antenna";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .name .special {
    color: #000;
    font-family: "Ford Antenna";
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__name .name .special {
    font-size: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price {
  border-left: dashed 1px #bbb;
  border-right: dashed 1px #bbb;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price {
    border-left: unset;
    border-right: unset;
    border-top: dashed 1px #bbb;
    border-bottom: dashed 1px #bbb;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price .price {
  display: flex;
  flex-flow: column;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price .price .special {
  color: #1f7bff;
  font-feature-settings: "salt" on;
  font-family: "Ford Antenna";
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price .price .special {
    font-size: 31px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__price .price .special {
    font-size: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__invoice-number .invoice-number {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  display: flex;
  flex-flow: column;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__invoice-number .invoice-number .special {
  font-family: "Ford Antenna";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__invoice-number .invoice-number .special {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .service-price-box__invoice-number .invoice-number .special {
    font-size: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box {
  max-width: 1122px;
  width: 100%;
  height: 631px;
  border-radius: 12px;
  background: #fff;
  margin-top: 44px;
  padding: 44px 32px 58px;
  box-shadow: 0px 4px 15px 0px rgba(129, 129, 129, 0.25);
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box {
    width: 100%;
    height: auto;
    margin-top: 48px;
    box-shadow: unset;
    padding: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content {
  display: flex;
  flex-flow: row;
  gap: 0 61px;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content {
    gap: 0 40px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content {
    flex-flow: column-reverse;
    gap: 40px 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left {
  max-width: 313px;
  width: 100%;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left {
    max-width: 100%;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .name {
  width: 100%;
  height: 194px;
  flex-shrink: 0;
  background-image: url("../../../svg/chi-tiet-goi-cuoc/block-1-invoice-detail-name-bg.svg");
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 4.348px 6.522px 13.044px rgba(0, 0, 0, 0.05);
  font-family: "Ford Antenna";
  font-size: 48.913px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 70px;
  text-transform: uppercase;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .cycles {
  margin-top: 25px;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .cycles {
    margin-top: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .cycles__title {
  width: 100%;
  height: 32px;
  background-color: #ceeaff;
  color: #0c5adb;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .cycles__option {
  border-bottom: solid 1px #ceeaff;
  width: 100%;
  padding: 8px 14px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--left .cycles__option input {
  margin-right: 12px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--right .info {
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--right .info {
    margin-bottom: 29px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--right .info:last-child {
  margin-bottom: unset;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--right .info__title {
  color: #000;
  font-family: "Ford Antenna";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box__content--right .info__item {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box .btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box .btn-box .btn-register {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  text-transform: uppercase;
  width: 313px;
  height: 44px;
  border-radius: 200px;
  background-color: #0c5adb;
  margin-top: 61px;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box .btn-box .btn-register {
    margin-top: 44px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box .btn-box .btn-register {
    margin-top: 34px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(1) .block__content .chi-tiet-goi-cuoc-box .btn-box .btn-register:hover {
  background-color: #033ec4;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content {
  max-width: 1152px;
  margin: 84px auto 0 auto;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content {
    margin-top: 75px;
    background-color: #eff3fd;
    height: 427px;
    flex-shrink: 0;
    padding-top: 28px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content {
    margin-top: 65px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content--title {
  color: #000;
  font-family: "Ford Antenna";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 10px;
}
@media (max-width: 1200px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content--title {
    margin: 0;
    height: auto;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides {
  margin-top: 24px;
  padding: 0 0.5rem;
}
@media(max-width:1200px){
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides {
    padding: 0 1.5rem 0 0;
  }
}
@media(max-width:1200px){
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides {
    padding: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-track {
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-track {
    padding-bottom: 50px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots {
  bottom: -10px;
}
@media(max-width:992px){
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots {
    bottom: 34px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li {
  width: 26.429px;
  height: 5px;
  transition: 0.5s width ease-in-out;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li button {
  width: 100%;
  height: 100%;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li button:before {
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 40px;
  background: #d7e2f9;
  border-radius: 40px;
  opacity: 0.4;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li.slick-active {
  width: 133.571px;
  height: 5px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slick-dots li.slick-active button:before {
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 40px;
  background: #d7e2f9;
  opacity: 1;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slides-btn-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: transparent;
  border: unset;
}
@media (max-width: 1300px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .slides-btn-custom {
    display: none;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .custom-prev {
  left: -50px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides .custom-next {
  right: -50px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item {
  width: 100%;
  height: 294px;
  flex-shrink: 0;
  background-image: linear-gradient(90deg, #345ce5 0%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  padding: 36px 20px 30px;
  border-radius: 12px;
  /* drop shadow */
  box-shadow: 0px 4px 15px 0px rgba(129, 129, 129, 0.25);
  margin: 0 10px;
}
@media(max-width:1200px){
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item:first-child{
    margin-left: 1.2rem
  }
}
@media(max-width:992px){
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item {
    margin: 0 11.5px;
  }
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item:first-child{
    margin-left: 1rem
  }
  .chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item:last-child{
    margin-right: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item:hover {
  background-color: rgba(219, 239, 253, 0.4705882353);
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--title {
  color: #000;
  font-family: "Ford Antenna";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  gap: 4px 0;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--title .special {
  color: #4e4e4e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--price {
  color: #4e4e4e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  margin-top: 32px;
  display: flex;
  flex-flow: column;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--price .special {
  color: #1f7bff;
  font-feature-settings: "salt" on;
  font-family: "Ford Antenna";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--btn-box {
  display: flex;
  justify-content: center;
  gap: 0 8px;
  margin-top: 44px;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--btn-box .btn {
  color: #515151;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 184.615% */
  border-radius: 200px;
  border: 0.8px solid #c8c8c8;
  background: #fff;
  width: 104px;
  height: 34px;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(2) .block__content .service-slides__item--btn-box .btn:hover {
  color: #fff;
  background-color: #033ec4;
  border: unset;
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) {
  padding-bottom: 100px;
  padding-top: 98px;
}
@media (max-width: 1400px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) {
    padding-bottom: 70px;
  }
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) {
    padding-top: 83px;
    padding-bottom: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content {
  max-width: 1280px;
  width: 100%;
  height: 295px;
  background-image: url("../../../svg/chi-tiet-goi-cuoc/img-bg-layer.svg"), linear-gradient(#175ac7, #175ac7);
  background-repeat: no-repeat;
  background-size: 97px 159px, 100%;
  background-position: 100% 8px, center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  padding: 0 90px;
}
@media (max-width: 992px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content {
    padding: 0 27px;
  }
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content {
    height: 507px;
    background-size: 68.794px 112.199px, 100%;
    flex-shrink: 0;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .title {
  color: #fff;
  font-family: "Ford Antenna";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .describe {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  margin-right: 15px;
  text-align: center;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .describe {
    margin-top: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .btn-register-trial {
  border-radius: 200px;
  border: 1px solid #fff;
  width: 324px;
  height: 44px;
  flex-shrink: 0;
  margin-top: 25px;
  background-color: transparent;
  padding: 10px 26px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .btn-register-trial {
    margin-top: 24px;
  }
}
.chi-tiet-goi-cuoc-page .block:nth-child(3) .block__content--main-content .btn-register-trial:hover {
  background-color: #fff;
  color: #1f7bff;
}
