@charset "UTF-8";
.news-page {
  padding-top: 41px;
  background-color: #f6f8fd;
}
@media (max-width: 768px) {
  .news-page {
    background-color: #fff;
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .news-page .block__content {
    padding-left: 0;
    padding-right: 0;
  }
}
.news-page .block__content .breadcrumb-box .breadcrumb {
  display: flex;
  flex-flow: row;
  gap: 0 20px;
  padding: 0 20px;
}
@media(max-width:992px){
  .news-page .block__content .breadcrumb-box .breadcrumb {
    padding: 0;
  }
}
.news-page .block__content .breadcrumb-box .breadcrumb__item a {
  color: #2e2e2e;
  font-weight: 400;
}
.news-page .block__content .breadcrumb-box .breadcrumb__item a:hover {
  color: #033ec4;
}
.news-page .block__content .breadcrumb-box .breadcrumb__item:last-child a {
  color: #1f7bff;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 768px) {
  .news-page .block__content .breadcrumb-box {
    display: none;
  }
}
.news-page .block__content--title {
  margin-top: 41px;
  color: #1f7bff;
  text-align: center;
  font-feature-settings: "salt" on;
  font-family: "Ford Antenna";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .news-page .block__content--title {
    display: none;
  }
}
.news-page .block__content--main-content {
  margin-top: 40px;
  max-width: 1162px;
  width: 100%;
  margin: auto;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .break-line {
    display: none;
  }
}
.news-page .block__content--main-content .tabs .break-line {
  border-bottom: 1px solid #c1c1c1;
  width: calc(100% - 40px);
  max-width: 1162px;
  margin: -1.5px auto;
}
@media (max-width: 992px) {
  .news-page .block__content--main-content .tabs .break-line {
    width: 100%;
  }
}
.news-page .block__content--main-content .tabs .title-tabs-box {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs .title-tabs-box {
    padding: 0 16px;
    overflow-x: scroll;
  }
}
.news-page .block__content--main-content .tabs__title {
  display: flex;
  flex-flow: row;
  gap: 0 30px;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__title {
    margin-top: 0;
    gap: 0 24px;
  }
}
@media (max-width: 576px) {
  .news-page .block__content--main-content .tabs__title {
    justify-content: unset;
  }
}
.news-page .block__content--main-content .tabs__title--item {
  color: #2e2e2e;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0 10px;
  padding-bottom: 16px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s all linear;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__title--item {
    padding-bottom: 2px;
    color: #2e2e2e;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__title--item:last-child {
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__title--item p {
    width: 100%;
  }
}
.news-page .block__content--main-content .tabs__title--item.--active, .news-page .block__content--main-content .tabs__title--item:hover {
  color: #0c5adb;
  border-bottom: 2px solid #1f7bff;
}
.news-page .block__content--main-content .tabs__content {
  max-width: 1162px;
  width: 100%;
  margin: auto;
  padding: 22px 0 0;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content {
    padding: 12px 0 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content {
  visibility: hidden;
  height: 0; /* Ẩn nhưng vẫn giữ kích thước */
  overflow: hidden;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .news-page .block__content--main-content .tabs__content--main-content {
    padding: 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box {
  background: #fff;
  width: 100%;
  height: 455px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px 0px rgba(210, 214, 229, 0.9);
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box {
    height: 100%;
    box-shadow: unset;
    padding: 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .slides {
    display: none;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item {
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item .slides__item--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 34px;
  width: 100%;
  position: relative;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left {
  height: 385px;
  padding: 28px 20px;
  flex-flow: column;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  position: absolute;
  width: calc(50% - 17px);
  left: -700px;
  transition: 0.3s left linear;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box {
  left: -100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  gap: 40px 0;
  height: 80%;
  transition: left 0.5s ease-in-out;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box-div {
  display: flex;
  flex-flow: column;
  gap: 18px 0;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__category {
  color: #cf148f;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__category {
    font-size: 12px;
    font-weight: 700;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__title {
  color: #2e2e2e;
  font-family: "SF Pro Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__time {
  display: flex;
  gap: 0 12px;
  margin: 0;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__reading-complete {
  color: #606367;
  font-family: "SF Pro Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__reading-complete {
    font-size: 12px;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__public-date {
  color: #606367;
  font-family: "SF Pro Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--left .title-box__public-date {
    font-size: 12px;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--right {
  width: 100%;
  height: 385.314px;
  position: absolute;
  width: calc(50% - 17px);
  right: -700px;
  transition: 0.3s right linear;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--right .slides-content-right {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--right .slides-content-right a {
  width: 100%;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--right .slides-content-right .slides__item--mask-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219.427px;
  height: 164.132px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--image {
  opacity: 0;
  transition: transform 0.3s ease, opacity 1s ease-in-out;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item--image:hover {
  transform: scale(1.2);
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item.--active {
  visibility: visible;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item.--active .slides__item--left .title-box {
  left: 24px;
  transition: left 0.5s ease-in-out;
  width: calc(100% - 43px);
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item.--active .slides__item--image {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides__item.--active .slides__item--mask-image {
  opacity: 1;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box {
  position: absolute;
  bottom: 20px;
  left: 35px;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box__content {
  display: flex;
  gap: 0 11px;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box__content .info-display {
  color: #acabab;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 4.97px;
  text-transform: uppercase;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box__content .info-display .--active {
  color: #000;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box__content .action-slides {
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .control-box__content .action-slides__prev {
  cursor: pointer;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .slides .break-line {
  position: absolute;
  bottom: 29px;
  width: 0;
  left: 195px;
  transition: 0.4s width linear;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0;
  gap: 32px 0;
}
@media (min-width: 769px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides {
    display: none;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item {
  border-radius: 12px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 10px 20px 0px rgba(210, 214, 229, 0.9);
  height: 498px;
  transition: 0.2s all linear;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item {
    height: auto;
    grid-template-columns: 1fr;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    padding: 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item:hover {
  background-color: rgba(219, 239, 253, 0.4705882353);
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .image-box {
  width: 100%;
  min-height: 247px;
  height: 50vw;
  overflow: hidden;
  position: relative;
  display: block;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .image-box__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .image-box__image:hover {
  transform: scale(1.2);
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .image-box__mask-image {
  width: 127.181px;
  height: 95.132px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box {
  margin-top: 20px;
  padding: 0 16px;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__category,
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box .category {
  color: #cf148f;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__category,
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box .category {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__category {
    display: none;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__title {
  color: #000;
  font-family: "Ford Antenna";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 95px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__time {
  margin-top: 71px;
  color: #606367;
  font-family: "SF Pro Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box__time {
    font-size: 12px;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .slides-box .list-item-slides__item .title-box .category {
  margin-top: 22px;
  display: block;
}
.news-page .block__content--main-content .tabs__content--main-content.--active {
  visibility: visible;
  height: auto; /* Hiển thị lại */
}
.news-page .block__content--main-content .tabs__content--main-content.--active .slides__item--left {
  left: 0;
}
.news-page .block__content--main-content .tabs__content--main-content.--active .slides__item--right {
  right: 0;
}
.news-page .block__content--main-content .tabs__content--main-content.--active .slides .break-line {
  width: calc(100% - 195px);
}
.news-page .block__content--main-content .tabs__content--main-content .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 24px;
  margin-top: 68px;
}
@media (max-width: 992px) {
  .news-page .block__content--main-content .tabs__content--main-content .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list {
    grid-template-columns: 1fr;
    margin-top: 32px;
    gap: 32px 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .list__item {
  border-radius: 12px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 10px 20px 0px rgba(210, 214, 229, 0.9);
  height: 498px;
  transition: 0.2s all linear;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item {
    height: auto;
    grid-template-columns: 1fr;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    padding: 0;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .list__item:hover {
  background-color: rgba(219, 239, 253, 0.4705882353);
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .image-box {
  width: 100%;
  height: 223px;
  overflow: hidden;
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .image-box {
    height: 50vw;
    min-height: 247px;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .image-box__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .image-box__image:hover {
  transform: scale(1.2);
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .image-box__mask-image {
  width: 127.181px;
  height: 95.132px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .title-box {
  margin-top: 20px;
  padding: 0 6px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box {
    padding: 0 16px;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__category,
.news-page .block__content--main-content .tabs__content--main-content .list__item .title-box .category {
  color: #cf148f;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__category,
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box .category {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__category {
    display: none;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__title {
  color: #000;
  font-family: "Ford Antenna";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 95px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__time {
  margin-top: 71px;
  color: #606367;
  font-family: "SF Pro Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 0 10px;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box__time {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box .category {
    display: none;
  }
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .list__item .title-box .category {
    margin-top: 22px;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
.news-page .block__content--main-content .tabs__content--main-content .btn-box {
  display: flex;
  justify-content: center;
}
.news-page .block__content--main-content .tabs__content--main-content .btn-box .btn-see-more {
  width: 185px;
  height: 44px;
  border-radius: 200px;
  background-color: #e14faf;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 129.412% */
  text-transform: uppercase;
  margin: 48px 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s background-color linear;
}
.news-page .block__content--main-content .tabs__content--main-content .btn-box .btn-see-more:hover {
  background-color: #cf148f;
}
@media (max-width: 768px) {
  .news-page .block__content--main-content .tabs__content--main-content .btn-box .btn-see-more {
    margin: 40px 0 48px;
  }
}
.news-page .block__content--main-content .slides-box-bottom {
  padding-bottom: 84px;
}
@media (max-width: 992px) {
  .news-page .block__content--main-content .slides-box-bottom {
    display: none;
  }
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab {
  width: 100%;
  height: 295px;
  display: flex;
  flex-flow: row;
  background-position: calc(100% + 100px) 100%;
  background-image: url("../../../images/san-pham-dich-vu/block-2-image-6.jpg");
  background-repeat: no-repeat;
}
@media (max-width: 1400px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab {
    background-position: calc(100% + 60px) 100%;
  }
}
@media (max-width: 1100px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab {
    background-position: calc(100% + 90px) 100%;
  }
}
@media (max-width: 1000px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab {
    background-position: calc(100% + 120px) 100%;
  }
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab:nth-child(1) {
  background-image: url("../../../images/san-pham-dich-vu/block-2-image-6.jpg");
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab:nth-child(2) {
  background-image: url("../../../images/san-pham-dich-vu/block-2-image-6.jpg");
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab:nth-child(3) {
  background-image: url("../../../images/san-pham-dich-vu/block-2-image-6.jpg");
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab:nth-child(4) {
  background-image: url("../../../images/san-pham-dich-vu/block-2-image-6.jpg");
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left {
  background: linear-gradient(270deg, rgba(31, 153, 255, 0) 0%, #004bb8 27%);
  display: flex;
  flex-flow: row;
  gap: 0 23px;
  padding: 51px 44px;
  height: 100%;
}
@media (max-width: 1200px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left {
    width: 850px;
  }
}
@media (max-width: 1100px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left {
    width: 750px;
  }
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .image {
  width: 60px;
  height: 60px;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .content {
  width: 750px;
  height: auto;
}
@media (max-width: 1400px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .content {
    width: 600px;
  }
}
@media (max-width: 1100px) {
  .news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .content {
    width: 450px;
  }
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .content__title {
  color: #fff;
  font-family: "Ford Antenna";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  max-width: 522px;
  width: 100%;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slides-tab__item--left .content__description {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  max-width: 522px;
  width: 100%;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots {
  bottom: -25px;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li {
  width: 26.429px;
  height: 5px;
  transition: 0.5s width ease-in-out;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li button {
  width: 100%;
  height: 100%;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li button:before {
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 40px;
  background: #d7e2f9;
  border-radius: 40px;
  opacity: 0.4;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li.slick-active {
  width: 133.571px;
  height: 5px;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
}
.news-page .block__content--main-content .slides-box-bottom .slides .slick-dots li.slick-active button:before {
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 40px;
  background: #d7e2f9;
  opacity: 1;
}
