
.exp_area_vote {background: #FFF; border: 1px solid #ddd; padding: 0; margin-bottom: 10px; font-family: Arial;}
.exp_area_vote form {margin-bottom: 5px; padding: 8px;}
.gm_vote_title {padding: 10px 15px;background: #f2f2f2;font-size: 16px;font-weight: bold;color: #333;}
.exp_area_vote ul {}
.exp_area_vote .vote_gm{
    display: none;
}
.exp_area_vote li {margin-bottom: 6px !important;}
.exp_area_vote li input[type="radio"] {float: left; margin-right: 8px !important; margin-top: 4px !important;}
.gm_vote_caption {margin-top: 13px;}
.gm_vote_caption button {background:#616161;padding:5px 30px;margin-right: 15px;border-radius:4px;display:inline-block;color:#fff ;font-size: 16px;text-transform:uppercase;border: none !important;}
.gm_vote_caption button:hover {background: #444 !important; color: #FFF !important;}
    
.gm_vote_caption button[disabled] {background: #EEE;color: #999;}
.exp_area_vote .exp_btn_listen {display: inline-block; font-size: 11px !important; margin-left: 8px; color: #b11016;} 
.gm_fl {}
.gm_fr {}
#gm_vote_pop.exp_open {position: fixed; left: 0; top: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5); text-align: center;z-index: 9999; font-family: Arial;}
#gm_vote_pop .exp_wrap {width: 550px; background: #FFF; display: inline-block; margin-top: 120px;}
#gm_vote_pop .exp_percent {width: 300px; background: #ccc; height: 5px; display: inline-block;}
#gm_vote_pop .exp_percent i {display: block; background: #bd2024; height: 5px; position: relative;}
#gm_vote_pop .exp_percent i b { position: absolute; top: 5px; font-size: 12px; color: #000; font-weight: normal;left: 47%;}

#gm_vote_pop .gm_vote_plet {font-size: 16px; font-weight: bold; text-transform: uppercase; margin: 10px 0;}
#gm_vote_pop .gm_vote_ptit {background: #f2f2f2; text-align: left; font-size: 15px;  padding: 8px; color: #000; text-align: justify; margin-bottom: 0;}
#gm_vote_pop .gm_vote_ptime {background: #f2f2f2; margin: 0px; padding: 0 8px; text-align: left;font-size: 12px;color: #777; padding-bottom: 8px;}
#gm_vote_pop .exp_allvote {width: 100%; margin-top: 10px; margin-bottom: 15px; padding: 0 8px;}
#gm_vote_pop .exp_allvote .label {text-align: left; font-size: 12px; line-height: 18px; background: none; color: #000; text-shadow: none; border: none;}
#gm_vote_pop .exp_allvote tr td {padding-bottom: 8px;}

#gm_vote_pop .exp_allvote .title_answers {padding-left: 15px;}
#gm_vote_pop .exp_allvote .number_vote {padding-right: 8px;}



#gm_vote_pop .gm_vote_pclose {background:#616161;padding:5px 50px;border-radius:4px;display:inline-block;color:#fff ;margin:0 15px 15px 0;text-transform:uppercase;border: none !important;font-size: 16px;}
#gm_vote_pop .gm_vote_pclose:hover {background: #444 !important; color: #FFF !important;}
    
.vote_media table {display: table; margin: auto;}    
.vote_media .infoVote {outline: none; padding: 6px; border-radius: 2px; border: 1px solid #BABABA; width: 280px;}
.vote_media label {display: inherit; font-size: 13px; text-align: left; padding-right: 10px;}
.vote_media label .require{color: red;}
.vote_media button {margin: 13px 4px;}

@media screen and (max-width:768px) {
#gm_vote_pop .exp_wrap {width: 480px;}
#gm_vote_pop .exp_percent {width: 250px;}
}
@media screen and (max-width:480px) {
#gm_vote_pop .exp_wrap {width: 360px;}
#gm_vote_pop .exp_percent {width: 200px;}
}
@media screen and (max-width:360px) {
#gm_vote_pop .exp_wrap {width: 300px;}
#gm_vote_pop .exp_percent {width: 120px;}
}